<div id="horizontal-trail-wrap">
    <button class="add-landmark-btn" (click)="addLandmark(true)">+</button>
    <div *ngFor="let landmark of curState[0].getLandmarks(); let i = index" class="landmark-entry">
        {{i+1}}
        <div [id]="curState[1]===landmark ? 'selected-landmark' : ''" class="landmark-image" (click)="changeSlide(landmark)">
            <app-view [editMode]="false" [currentLandmark]="landmark"></app-view>
        </div>
    </div>
    <button class="add-landmark-btn" (click)="addLandmark(false)">+</button>
</div>
