<svg [class.line-add]="lineAdd !== LINE_ADD.NONE" [class.landmark-display]="true"  [id]="editMode ? 'editable-landmark' : ''" viewBox="0, 0, 1920, 1080" (click)="clickLandmark($event)">
    <g *ngIf="lineAdd !== LINE_ADD.NONE">
        <rect *ngIf="lineAdd === LINE_ADD.DRAW_POINT" x="0" y="0" width="1920" height="1080" fill="transparent" (mousedown)="startLine($event)"></rect>
        <g *ngIf="lineAdd === LINE_ADD.DRAW_LINE" (mousemove)="drawLine($event)" (mouseup)="endLine($event)" (click)="endLine($event)">
            <rect x="0" y="0" width="1920" height="1080" fill="transparent"></rect>
            <line id="new-line" [attr.x1]="tempLine![0]" [attr.y1]="tempLine![1]" [attr.x2]="tempLine![2]" [attr.y2]="tempLine![3]" stroke="black" stroke-width="1px" opacity="0.5"></line>
        </g>
    </g>
    <g *ngIf="arcAdd !== ARC_ADD.NONE">
        <rect *ngIf="arcAdd === ARC_ADD.DRAW_CENTRE" x="0" y="0" width="1920" height="1080" fill="transparent" (click)="selectCentre($event)"></rect>
        <g *ngIf="arcAdd === ARC_ADD.DRAW_RADIUS" (mousemove)="drawRadius($event)" (click)="selectArcStart($event)">
            <rect x="0" y="0" width="1920" height="1080" fill="transparent"></rect>
            <!--TODO: Add broken line-->
        </g>
        <g *ngIf="arcAdd === ARC_ADD.DRAW_ARC" (mouseMove)="drawAngle($event)" (click)="endArc($event)">
            <rect x="0" y="0" width="1920" height="1080" fill="transparent"></rect>
            <!--TODO: Add broken circle and solid circle-->
        </g>
    </g>


    <foreignObject *ngIf="tempTextBox !== null" class="svg-landmark-text-wrapper" [id]="tempTextBox.id" [attr.x]="tempTextBox.x" [attr.y]="tempTextBox.y" [attr.width]="tempTextBox.width" [attr.height]="tempTextBox.height" [attr.transform]="tempTextBox.transformation">
        <div id="edited-text-portion" class="landmark-text-wrapper">
            <!-- <span *ngFor="let textSpan of tempTextBox.text" contenteditable="true">{{textSpan}}</span> -->
            <span *ngFor="let textSpan of tempTextBox.text; let i = index" [id]="'edited-span-' + i.toString()" contenteditable="true" [innerHTML]="textSpan" (input)="addText($event)"></span>
        </div>
    </foreignObject>


    <image *ngFor="let imageBox of currentLandmark.imageContent | keyvalue" class="image-content" [id]="editMode ? imageBox.key : ''" [attr.href]="imageBox.value.image"
    [attr.x]="imageBox.value.x" [attr.y]="imageBox.value.y" [attr.width]="imageBox.value.width" [attr.height]="imageBox.value.height" [attr.transform]="imageBox.value.transformation">
    </image>
    <path *ngFor="let shapeBox of currentLandmark.shapeContent | keyvalue" class="shape-content" [id]="editMode ? shapeBox.key : ''" [attr.d]="shapeBox.value.d" [attr.transform]="shapeBox.value.transformation" stroke="black" stroke-width="1px"></path>
</svg>



<!--
<div class="svg-wrapper" [ngStyle]="{'width': w.toString()+'px', 'height': h.toString()+'px'}">
    <svg viewBox="0, 0, 1536, 864" [ngStyle]="w/h > 16/9 ? {height: h, width: 16/9*h} : {height: 9/16*w, width: w}" > (click)="clickSvg($event)"
    
        <g *ngFor="let contentBox of currentLandmark.getContent() | keyvalue" class="content" [id]="contentBox.key"  [attr.transform]="contentBox.value.transformation">
            <image *ngIf="contentBox.key[0]==='i'" class="image-content" [attr.href]="contentBox.value.content[0]" [attr.width]="contentBox.value.width.toString()" [attr.height]="contentBox.value.height.toString()" [attr.x]="contentBox.value.x.toString()" [attr.y]="contentBox.value.y.toString()"></image>
            <path *ngIf="contentBox.key[0]==='s'" class="shape-content" [attr.d]="contentBox.value.content[0]"></path>
            <foreignObject *ngIf="contentBox.key[0]==='t'" class="text-content">
                <span *ngFor="let textSpan of contentBox.value.content[0]" contenteditable="true"></span> 
            </foreignObject>
        </g>
        <g class="content" [id]="tempTextBox.cssId" [attr.transform]="tempTextBox.transformation" >
            <foreignObject class="text-content" [attr.x]="tempTextBox.x.toString()" [attr.y]="tempTextBox.y.toString()" [attr.width]="tempTextBox.width.toString()" [attr.height]="tempTextBox.height.toString()">
                <div class="text-wrapper">
                    <span *ngFor="let textSpan of tempTextBox.content" contenteditable="true" [ngStyle]="{'font-size': '50px'}" class="text-content"></span>
                </div>
            </foreignObject>
        </g>
        <foreignObject class="content" [id]="tempTextBox.cssId" [attr.transform]="tempTextBox.transformation" [attr.width]="tempTextBox.width.toString()" [attr.height]="tempTextBox.height.toString()" [attr.x]="tempTextBox.x" [attr.y]="tempTextBox.y">
            <div class="text-wrapper">
                <span *ngFor="let textSpan of tempTextBox.content" contenteditable="true" [ngStyle]="{'font-size': '50px'}" class="text-content"></span>
            </div>
        </foreignObject>
    
    </svg>
</div>
-->