@import '../node_modules/quill/dist/quill.core.css'; 
@import '../node_modules/quill/dist/quill.bubble.css'; 
@import '../node_modules/quill/dist/quill.snow.css'; 
 

* {
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


math-field {
    display: inline-block;
    font-size: 20px;
    white-space: normal;
    min-width: 40px;
    background: #f8f8f8;
}
.ql-container {
    font-size: 20px;
}
.ql-editor {
    overflow-x: hidden;
}

:root {
    --keyboard-zindex: 1005; 
}




/* app-sign-up {
    flex-grow: 1;
} */


/*
A bit of a hack, but this will ensure that the full viewport is always filled. Each component will appear in the middle
*/
/* router-outlet + * {
    flex-grow: 1;
} */