<form *ngIf="!forgotPassword">
    <label for="Username" *ngIf="usernameSignIn"></label>
    <input type="text" placeholder="Username" [(ngModel)]="user.username" name="username" *ngIf="usernameSignIn">
    <label for="Email" *ngIf="!usernameSignIn"></label>
    <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email" *ngIf="!usernameSignIn">
    <label for="Password"></label>
    <input [type]="user.showPassword ? 'text' : 'password'" placeholder="Password" [(ngModel)]="user.password" name="password">

    <div>
        <input type="checkbox" [checked]="user.showPassword" (change)="user.showPassword = !user.showPassword">
        Show password
    </div>
    <p>No account? <a [routerLink]="'/signup'">Sign up</a></p>
    <button *ngIf="usernameSignIn" (click)="usernameSignIn = false">Sign in with email</button>
    <button *ngIf="!usernameSignIn" (click)="usernameSignIn = true">Sign in with username</button>
    <button (click)="signInWithCognito()">Sign in</button>
</form>